@import '@/styles/variables';

.button_text {
  padding: 0.75rem 1.25rem;
  border-radius: 3rem;
  transition: all 0.2s ease-in;
}

.button_solid_blue {
  color: $white;
  background-color: $complementary-color;
}

.button_solid_gray {
  color: $white;
  background-color: $gray;
}

.button_outlined {
  border: solid 1px;
  border-color: $complementary-color;
  color: $complementary-color;
}

.button_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.button_icon:hover {
  background-color: #ddd;
}

.button_text:hover {
  scale: 105%;
}

.button_text:active {
  scale: 95%;
}
