@import '@/styles/variables';

.navbar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background: $white;
  justify-content: space-between;
  padding: 1rem 2rem;

  .navbar__mobile_menu_control {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    transition: all 0.3s ease;
  }
  .navbar__mobile_menu_control:hover {
    background-color: #ddd;
  }

  .navbar__links_wrapper {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    a {
      color: $gray;
    }
  }
}
