@import '@/styles/variables';

.core_values {
  padding: 4rem 2rem;
  background: $light-gray;

  .core_values__header_wrapper {
    display: flex;
    justify-content: space-between;
    img {
      @media (min-width: $screen-md) {
        padding-right: 5rem;
      }
    }
  }

  .core_values__values_wrapper {
    gap: 5rem;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 4rem;
    @media (min-width: $screen-md) {
      flex-direction: row;
    }
  }
}
