@import '@/styles/variables';

.textarea {
  background: $white;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  padding: 0.8rem 1rem;
  resize: none;
  width: 100%;
}
