@import '@/styles/variables';

.company_info__about {
  padding: 4rem 2rem;
  background: $light-gray;
  @media (min-width: $screen-lg) {
    padding: 4rem 4rem;
  }

  .company_info__inner_wrapper {
    display: flex;
    max-width: $screen-2xl;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
    @media (min-width: $screen-lg) {
      align-items: center;
    }
  }

  p {
    color: $primary-color;
    line-height: 150%;
    font-size: 1rem;

    @media (min-width: $screen-md) {
      font-size: 1.3rem;
    }
  }

  img {
    @media (min-width: $screen-md) {
      padding-right: 5rem;
    }
  }

  .company_info__steps_wrapper {
    display: flex;
    padding-top: 6rem;
    padding-bottom: 3rem;
    max-width: $screen-2xl;
    margin: 0 auto;
    gap: 3rem;
    flex-direction: column;

    @media (min-width: $screen-md) {
      flex-direction: row;
      gap: 4rem;
    }
  }
}

.company_info__slogan_section {
  padding: 8rem 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  @media (min-width: $screen-lg) {
    flex-direction: row;
  }

  h3 {
    color: $primary-color;
    font-size: 1.5rem;
    text-align: center;
    @media (min-width: $screen-md) {
      flex-direction: 2rem;
    }
  }

  .company_info__thumb_img {
    width: 50px;
    height: auto;
    margin-bottom: 1rem;
  }

  .company_info__assistance_img {
    width: 300px;
  }

  .company_info__slogan {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .company_info__assistance_img_desktop {
    display: none;
    @media (min-width: $screen-lg) {
      display: block;
      position: absolute;
      bottom: 0;
      right: -12rem;
    }
  }

  .company_info__assistance_img_mobile {
    width: 200px;
    margin-top: 3rem;
    margin-left: 5rem;
    @media (min-width: $screen-sm) {
      width: 300px;
    }
    @media (min-width: $screen-lg) {
      display: none;
    }
  }
}
