@import '@/styles/variables';

.company_info__about {
  padding: 4rem 2rem;
  background: $light-gray;

  .company_info__inner_wrapper {
    display: flex;
    justify-content: space-between;
  }

  p {
    color: $primary-color;
    font-size: 1.3rem;
    line-height: 150%;
  }

  img {
    padding-right: 5rem;
  }

  .company_info__steps_wrapper {
    display: flex;
    margin-top: 6rem;
    margin-bottom: 2rem;
  }
}

.company_info__slogan_section {
  padding: 8rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    color: $primary-color;
    font-size: 2rem;
  }

  .company_info__thumb_img {
    width: 50px;
    height: auto;
    margin-bottom: 1rem;
  }

  .company_info__assistance_img {
    width: 300px;
  }

  .company_info__slogan {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .company_info__assistance_img {
    position: absolute;
    bottom: 0;
    right: -12rem;
  }
}
