$primary-color: #fb8958;
$complementary-color: #46b8c8;
$gray: #3d4f5c;
$white: #fff;
$light-gray: #fbfafa;
$secondary-color: #ffc351;

$screen-xs: 460px;
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
