@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
    url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CircularSTD';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url('/fonts/CircularStd/CircularStd-Medium.ttf') format('truetype'),
    url('/fonts/CircularStd/CircularStd-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'CircularSTD';
  font-style: light;
  font-weight: 200;
  font-display: block;
  src: url('/fonts/CircularStd/CircularStd-Book.ttf') format('truetype'),
    url('/fonts/CircularStd/CircularStd-Book.ttf') format('truetype');
}
