@import '@/styles/variables';

.our_works {
  display: flex;
  max-width: $screen-2xl;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;

  .our_works__works_wrapper {
    gap: 2rem;
    padding: 2rem 2rem;
    @media (min-width: $screen-lg) {
      padding: 2rem 4rem;
    }
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    .our_works__work {
      display: flex;
      flex-direction: column;
      padding: 2rem 3rem;
      align-items: center;
      box-shadow: 4px 4px 24px 0px rgba(230, 230, 230, 1);
      border-radius: 2rem;

      h3 {
        font-size: 1.5rem;
      }

      p {
        margin: 1rem;
        line-height: 150%;
        color: $gray;
        text-align: center;
        font-weight: 200;
      }

      img {
        margin-bottom: 1.5rem;
        height: 120px;
        @media (min-width: $screen-lg) {
          height: 180px;
          width: auto;
        }
      }
    }
  }
  .our_works__slogan_section {
    padding: 4rem 2rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    @media (min-width: $screen-md) {
      padding: 10rem 2rem;
    }

    h3 {
      color: $primary-color;
      font-size: 1.3rem;
      text-align: center;
      max-width: 50rem;
      @media (min-width: $screen-md) {
        font-size: 2rem;
      }
    }

    img {
      display: none;
      width: 60px;
      height: auto;
      margin-bottom: 1rem;
      @media (min-width: $screen-sm) {
        display: block;
      }
    }
  }
}
