@import '@/styles/variables';

.navbar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background: $white;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.navbar__links_wrapper {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  a {
    color: $gray;
  }
}
