@import '@/styles/variables';

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.navbar__nav_wrapper {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  a {
    color: $text-color;
  }
}
